{% extends 'base.html' %}

{% block body%}
<div class="container">
    <form action="{% url 'login_view' %}" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="text" class="form-control" name="username" id="username" placeholder="username">
            <label for="username">User</label>
        </div>
        <!--    <div class="form-floating">-->
        <!--      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">-->
        <!--      <label for="floatingPassword">Password</label>-->
        <!--    </div>-->

        <!--    <div class="checkbox mb-3">-->
        <!--      <label>-->
        <!--        <input type="checkbox" value="remember-me"> Remember me-->
        <!--      </label>-->
        <!--    </div>-->
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; CC 2022</p>
    </form>
</div>
{% endblock %}